.call {
	position: relative;
	z-index: 0;
	background-position: 0 0 !important;
	display: flex;
	justify-content: end;
	padding: 0;
}
.call::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #dadada;
	opacity: 0.5;
}
.call-orange {
	position: relative;
	z-index: 25;
	width: 50%;
	background-color: rgba(249, 200, 105, 0.92);
	display: flex;
	padding: 100px;
	color: #fff;
}
#call-form {
	display: flex;
	flex-direction: column;
	max-width: 640px;
}
.formhead {
	font-size: 30px;
	margin-top: 2px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.form-subtext {
	margin-bottom: 50px;
	font-size: 15px;
}

.form-input, 
.drop-call {
	border: 1px solid #E0B660;
	border-bottom-width: 2px;
	border-radius: 2px;
	padding: 15px 25px;
	width: 100%;
	margin-bottom: 15px;
	color: #fff;
}
.drop-call option {
	background-color: rgba(249, 200, 105, 0.92);
	color: #FFF;
	font-size: 18px;
}
.form-input::placeholder {
	color: #fff;
	opacity: 1;
}

.call-send {
	position: absolute;
	z-index: 80;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.call-send p {
	color: #fff;
	font-size: 20px;
	font-weight: 800;
	position: absolute;
	top: 50%;
	left: 50%;
	white-space: nowrap;
	transform: translateX(-50%);
}
.call-send--active {
	display: block;
	opacity: 1;
}
.call-send--active ~ * {
	opacity: 0 0.5;
	filter: blur(10px);
}