@import "./reset.css";
@import "./owl.carousel.css";
@import "./font-awesome.css";
@import "./owl.theme.default.min.css";
@import "./fotorama.css";
@import "./header.css";
@import "./call.css";

@font-face {
    font-family: 'Essonnes Display';
    src: url('../fonts/EssonnesDisplay-BoldItalic.eot');
    src: local('../fonts/EssonnesDisplay-BoldItalic'),
        url('../fonts/EssonnesDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EssonnesDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/EssonnesDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/EssonnesDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


body {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

section {
	padding: 100px 0;
	width: 100%;
	position: relative;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 30px;
}

/* Helper class */
.accent {
	color: #F9C869;
}
.turquoise-bg {
	background-color: #66C7CD;
}
.pink-bg {
	background-color: #F86868;
}
.accent-bg {
	background-color: #F9C869;
}
.mb60 {
	margin-bottom: 60px;
}
.bg-img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.btn {
	display: inline-block !important;
	padding: 15px 45px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 0.15em;
	background-color: #F9C869;
	border-radius: 3px;
	margin-top: 40px;
	overflow: hidden;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.btn::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.15em;
	background-color: #e0b35c;
	border-radius: 3px;
	margin-top: 30px;
}
.btn:hover {
	background-color: #f5ce87;
	transform: scale(1.02);
}
.btn:hover::after {
	background-color: #e3c07f;
}

/* User styles */
#services {
	padding: 0;
}
.services-item {
	position: relative;
	min-width: 33%;
	display: flex;
	flex-direction: column;
	color: #fff;
}
.part1 {
	min-height: 480px;
	padding: 40px 0 30px;
	display: flex;
	justify-content: center;
	text-align: center;
}
.part2 {
	min-height: 480px;
}
.column-reverse {
	flex-direction: column-reverse;
}
.service__logo {
	font-size: 23px;
	color: #4a4a4a;
	font-family: 'Essonnes Display';
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
}
.service__logo span {
	font-size: 19px;
}
.h3 {
	font-size: 26px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.service {
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
}
.service-list {
	list-style-type: none;
	margin-top: 30px;
	margin-bottom: 10px;
}
.service-list li {
	line-height: 46px;
	font-size: 16px;
	letter-spacing: 0.03em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.service-list li a {
	display: inline-block;
	transition: all 0.3s ease-in-out;
}
.service-list li a:hover {
	transform: translateY(-3px);
}
.price {
	font-size: 16px;
	font-weight: 600;
	font-family: 'Fira Sans', sans-serif;
	color: #4a4a4a;
}
.price .fa-ruble-sign {
	font-size: 16px;
}
.btn--white {
	background-color: #fff;
	color: #4a4a4a;
	padding: 15px 35px;
	font-size: 13px;
}
.btn--white::after {
	background-color: #d1d1d1;
}

.owl-theme .owl-controls .owl-nav .owl-next {
    color: #4a4a4a;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 10px 12px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.owl-theme .owl-controls .owl-nav:hover {
	background-color: #fff;
}
.owl-theme .owl-controls .owl-nav .owl-prev {
    color: #4a4a4a;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 10px 12px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.owl-theme .owl-controls {
     margin-top: 0px;
}

.gallery{
	position: relative;
/*	min-height: 650px;*/
}
.gallery::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #dadada;
	opacity: 0.6;
}
.gallery-content {
	position: relative;
	z-index: 10;
	display: flex;
	gap: 60px;
	padding: 0 30px;
}
.gallery-col {
	flex: 0 1 45%;
	overflow: hidden;
}
.gallery-col:last-child {
	flex: 1 1 55%;
}
.h2 {
	margin-top: 20px;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 40px;
	letter-spacing: 0.06em;
}
.gallery-info {
	line-height: 1.6;
	margin-bottom: 20px;
}
.fotorama {
	background-color: rgba(100,100,100,0.6);
	padding: 6px;
	padding-bottom: 0;
}
.fotorama__nav {
	padding: 5px 0;
	width: 100%;
}
.fotorama__thumb-border {
    border: 6px solid #000 !important;
    margin-top: 0 !important;
}
.fotorama__arr--prev {
	position: absolute;
    width: 32px;
    height: 32px;
    font-size: 44px;
    color: #fff;
    top: 50%;
    left: 15px !important;
    font-family: 'FontAwesome';
}
.fotorama__arr--next {
    position: absolute;
    width: 32px;
    height: 32px;
    font-size: 44px;
    color: #fff;
    top: 50%;
    right: 0 !important;
    font-family: 'FontAwesome';
}
.fotorama__arr--next::before {
	content: "\f105";
}
.fotorama__arr--prev::before {
	content: "\f104";
}

.call {
	min-height: 600px;
	background-position: 0 0;
}
.call::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #dadada;
	opacity: 0.5;
}
.call-orange {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: rgba(249, 200, 105, 0.92);
}
