@media (max-width: 1200px) {

}

@media (max-width: 1100px) {
	.address-flex {
/*		padding: 0 50px;*/
	}
	.h1 {
		font-size: 54px;
	}
	.header-text {
	    font-size: 14px;
	    line-height: 24px;
	}
	.header-subtitle {
		font-size: 14px;
		margin-bottom: 30px;
	}
}



@media (max-width: 992px) {
	.h1 {
		font-size: 46px;
		white-space: nowrap;
	}
	.call-orange {
		padding: 50px;
	}
	.my-footer {
		flex-wrap: wrap;
		row-gap: 40px;
		padding-bottom: 30px;
	}
	.footer-map {
		width: 100%;
	}
	
}

@media (max-width: 857px) {
	.header-composition {
		width: 60%;
	}
	.address-flex {
		justify-content: center;
	}
	.gallery-content {
		flex-wrap: wrap;

	}
	.gallery-col {
		flex: 1 1 100%;
	}
}

@media (max-width: 768px) {
	.header {
		background: #5A5A5A;
		background: -webkit-linear-gradient(bottom left, #5A5A5A, #454545);
		background: -moz-linear-gradient(bottom left, #5A5A5A, #454545);
		background: linear-gradient(to top right, #5A5A5A, #454545);		
	}
	.header-composition {
		padding: 0 50px;
		width: 100%;
	}
	.logo {
		font-size: 30px;
	}
	.header__logo {
		font-size: 26px;
	}
	.phone-number {
		font-size: 20px;
	}
	.call-orange {
		width: 100%;
		background-color: rgba(249, 200, 105, 1);
	}
	section {
		padding: 50px 0;
	}
}

@media (max-width: 576px) {
	.h1 {
		font-size: 42px;
		border-bottom: 0px;
	}
	.header__logo {
		font-size: 24px;
	}
	.header-composition {
		padding: 0;
		padding-right: 40px;
	}
	.header-address {
		display: none;
	}
	.welcome span::before {
		display: none;
	}
	.welcome span::after {
	    display: none;
	}
	.welcome span {
		font-size: 16px;
		line-height: 1.5;
	}
	.phone-number {
		font-size: 18px;
	}
	.form-drop {
		width: 100%;
	}
	.formhead {
		font-size: 26px;
		margin-top: 15px;
	}
	.partners {
		padding: 50px 0;
	}
	.partners-title {
		font-size: 26px;
		line-height: 1.4;
	}
}

@media (max-width: 478px) {
	.header-composition {
		margin-top: 100px;
	}
	.h1 {
		white-space: unset;
		font-size: 46px;
		line-height: 1.3;
	}
	.h2 {
		font-size: 28px;
		letter-spacing: 0;
	}
	.h3 {
		font-size: 21px;
	}
	.call-orange {
		padding: 50px 30px;
	}
		.form-input, 
	.drop-call {
		font-size: 14px
	}
	.drop-call option {
		font-size: 15px;
		background-color: rgba(249, 200, 105, 1);
	}
	.owl-name {
		font-size: 24px;
	}
	.owl-rating {
		margin-bottom: 30px;
	}
	.form-subtext {
		margin-bottom: 25px;
		font-size: 14px;
	}
	.footer-col {
		align-items: center;
	}
	.footer-addr {
		align-items: start;
	}
}